body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; 
    padding-bottom: 100px;
    width: 100%;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}

.background-image1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}


header {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    color: #8b1111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    z-index: 2;
}

header img {
    max-height: 135%;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    margin-right: 10px;
    color: #8b1111;
    text-decoration: none;
}

footer {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    color: #8b1111;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    z-index: 2;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px; 
    margin-bottom: 100px; 
    padding: 20px;
 }
    

 .pocetna-text {
    width: calc(50% - 50px); /* 100% width of the parent minus 50px padding */
    margin-left: auto; /* Pushes the div to the right */
    margin-right: 50px; /* Keeps it 50px from the right edge */
    color: #8b1111;
    font-size: 1.5em;
    text-align: right; /* Aligns the text to the right */
}


.naslovna-image {
    width: 90%;
    height: auto;
    margin-bottom: 50px;
    margin-left: 10px;    
    margin-top: 0px;

}

.toy-cards-container {
    width: 100%; /* Adjust width as necessary */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Creates space between the cards */
}

.toy-card {
    width: 300px; /* Fixed width or use percentage for responsiveness */
    border: 1px solid #5CA65C ;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
    margin-left: 10px;
    margin-right: 20px;
    background-color: #77DD77;
}

.toy-card:hover {
    transform: translateY(-5px); /* Simple hover effect */
}

.toy-image {
    width: 100%;
    height: auto;
    display: block;
}

.toy-info {
    padding: 15px;
}

.toy-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.toy-description {
    font-size: 1em;
    color: #555;
}

.rating-comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.star-rating {
    direction: rtl;
    font-size: 24px;
    margin-bottom: 15px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ddd;
    cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
    color: #ffc107;
}

.rating-comment-form input,
.rating-comment-form textarea,
.rating-comment-form button {
    width: 100%; /* Svi elementi će biti iste širine */
    margin-bottom: 15px; /* Razmak između elemenata */
}

.rating-comment-form button {
    cursor: pointer;
    background-color: #77DD77;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
