body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #AEC6CF
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; 
    padding-bottom: 100px;
    width: 100%;
}

header {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    color: #8b1111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    z-index: 2;
}

header img {
    max-height: 135%;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    margin-right: 10px;
    color: #8b1111;
    text-decoration: none;
}

footer {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    color: #8b1111;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    z-index: 2;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px; 
    margin-bottom: 100px; 
    padding: 20px;
 }
    
.pocetna-image {
    width: 50%; 
    height: auto;
    object-fit: cover; 
    border-radius: 50px;
}
.pocetna-text {
    width: 50%; 
    color: #8b1111;
    font-size: 1.5em; 
}

.naslovna-image {
    width: 90%;
    height: auto;
    margin-bottom: 50px;
    margin-left: 10px;    
    margin-top: 0px;

}

.toy-cards-container {
    width: 100%; /* Adjust width as necessary */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Creates space between the cards */
}

.toy-card {
    width: 300px; /* Fixed width or use percentage for responsiveness */
    border: 1px solid #5CA65C ;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
    margin-left: 10px;
    margin-right: 20px;
    background-color: #77DD77;
}

.toy-card:hover {
    transform: translateY(-5px); /* Simple hover effect */
}

.toy-image {
    width: 100%;
    height: auto;
    display: block;
}

.toy-info {
    padding: 15px;
}

.toy-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.toy-description {
    font-size: 1em;
    color: #555;
}









